name: Sækja fréttir

on:
  schedule:
    - cron: '*/15 * * * *' # Á 15 mín fresti
  workflow_dispatch:      # Leyfa handvirka keyrslu

jobs:
  cron-job:
    runs-on: ubuntu-latest
    steps:
      - name: Sækja fréttir
        # Hér er nýja slóðin þín:
        run: curl -L https://news-mvp-five.vercel.app/api/ingest
